* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 2.18;
}

.welcome {
  //Саша
  background-image: url("image/welcome-bg.jpg");
  color: #ffffff;
  background-image: -webkit-linear-gradient(39deg, rgb(54, 149, 255) 0%, rgb(53, 100, 252) 100%);
  text-align: center;

  &__menu {
    display: none;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      font-size: 50px;
      font-weight: 300;
      color: #d2d2d2;
      margin-top: 96px;

      &:hover, &:active {
        color: #3677fd;
      }
    }

    input:checked ~ & {
      display: flex;
      flex-direction: column;
      width: 1170px;
      align-items: center;
      position: absolute;
      background: #ffffff;
      height: 704px;
      z-index: 2;
      //top: 83px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 10px;
    }
    &--social {
      width: 360px;
      display: flex;
    }
    &--social a {
      width: 51px;
      height: 51px;

    }
    &--social img {
      width: 55px;
      height: 55px;
      padding: 10px;
      border-radius: 50%;
      background: #e1e1e1;
    }
    &--lang {
      color: #d2d2d2;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
  }



  &__cookies {
    background: #194277;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 31px;

    &--text {
      font-weight: 400;
      color: #ffffff;
    }

    &--btn {
      border: none;
      font-size: 12px;
      font-weight: 700;
      width: 112px;
      height: 30px;
      color: #194277;
      border-radius: 30px;
      cursor: pointer;
      outline: none;
    }
  }

  &__circle {
    background: #ffffff;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin-bottom: 77px;
  }

  &__title {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    max-width: 805px;
    text-align: center;
    margin-bottom: 43px;
  }

  &__text {
    max-width: 805px;
    text-transform: uppercase;
    margin-bottom: 58px;
  }

  &__btn {
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #3695ff;
    background-color: #fff;
    width: 205px;
    height: 55px;
    border-radius: 55px;
    margin-bottom: 148px;
    cursor: pointer;
    outline: none;
  }
}

#welcome__hamburger {
  display: none;

  & + label {
    //display: none;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 5;

    span {
      width: 25px;
      height: 2px;
      background: #ffffff;
      display: block;
      position: relative;
      margin-bottom: 65px;
      margin-right: 0;

      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #ffffff;
        display: block;
      }

      &:before {
        top: -8px;
      }

      &:after {
        bottom: -8px;
      }
    }
  }

  &:checked + label {
    span {
      background: none;

      &:before, &:after {
        top: 50%;
        bottom: initial;
        width: 110%;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.inner {
  max-width: 1170px;
  padding: 0 15px;
}

.about {
  //Николай
}

.expert {
  //Иван
}

.works {
  //Вика
}

.clients {
  //Максим
}

.footer {
  //Леша
}