* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 2.18;
}
.welcome {
  //Саша
}
.inner {
  max-width: 1170px;
}
.about {
  //Николай
}
.expert {
  //Иван
}
.works {
  //Вика
}
.clients {
  //Максим
}
.footer {
  //Леша
}